body{
padding-top: 21px;
padding-left: 137px;
background-color: #F5F5F5;

}


nav{




}

li{
display: inline-block;
vertical-align: middle;

}
li a{
display: inline-block;
font-family: Roboto, sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 13px;
letter-spacing: 0em;
text-align: left;
color:#000000;
vertical-align: middle;
margin-left: 35px;
}

.logo{

display: inline-block;
margin-left: 456px;
margin-top: -22px;
}



.container{
margin: 0 auto;
width: 5000px;
margin-left: 35px;

}

h1{
font-family: Roboto, sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
color: #000000s;
margin-top: 42px;
}

.pic1{

display: inline-block;
margin-top: 27px;
}


.pic2{

display: inline-block;
margin-left: 40px;
}

.pic3{

display: inline-block;
margin-left: 40px;
}










;

}

