body{
padding-top: 21px;
padding-left: 137px;
background: #F5F5F5;
}


nav{




}



header{
background-color: cyan;
width: 1870px;
position: fixed;
z-index: 1;
height: 60px;

}

li{
display: inline-block;
vertical-align: middle;

}
li a{
display: inline-block;
font-family: Roboto, sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 13px;
letter-spacing: 0em;
text-align: left;
color:#000000;
vertical-align: middle;
margin-left: 35px;
}




.logo{

display: inline-block;
margin-left: 456px;
margin-top: -22px;
}



.container{
margin: 0 auto;
width: 1400px;
margin-left: 35px;

}

h1{
font-family: Roboto, sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
color: #000000s;
margin-top: 90px;
}



.pic11{

width: 425px;

}

.pic22{

width: 425px;

}

.pic33{

width: 425px;

}





.pic1{

display: inline-block;
margin-top: 27px;
position: relative;
}


.pic2{

display: inline-block;
margin-left: 40px;
position: relative;
}

.pic3{

display: inline-block;
margin-left: 40px;
position: relative;
}


.pic1::before {
  content: "Dolore magna alicua";
  position: absolute;
padding-top: 32px;
padding-left: 41px;
font-family: Roboto, sans-serif;
font-size: 20px;
font-weight: 700;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
}


.pic2::before {
  content: "Dolore magna alicua";
  position: absolute;
padding-top: 32px;
padding-left: 41px;
font-family: Roboto, sans-serif;
font-size: 20px;
font-weight: 700;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
}


.pic3::before {
  content: "Dolore magna alicua";
  position: absolute;
padding-top: 32px;
padding-left: 41px;
font-family: Roboto, sans-serif;
font-size: 20px;
font-weight: 700;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
}



.box1 {
  width: 425px;
  height: 190px;
  background-color:#FFFFFF;
  display: inline-block;
  padding-top: 68px;
  padding-left: 37px;
  font-family: Roboto, sans-serif;
font-size: 14px;
font-weight: 700;
line-height: 12px;
letter-spacing: 0em;
text-align: left;
color: #8A8787;
;
}

.box2{
  width: 425px;
  height: 190px;
  background-color:#FFFFFF;
  display: inline-block;
  margin-left: 40px;
   padding-top: 68px;
  padding-left: 37px;
  font-family: Roboto, sans-serif;
font-size: 14px;
font-weight: 700;
line-height: 12px;
letter-spacing: 0em;
text-align: left;
color: #8A8787;

;
}

.box3 {
  width: 425px;
  height: 190px;
  background-color:#FFFFFF;
  display: inline-block;
  margin-left: 40px;
   padding-top: 68px;
  padding-left: 37px;
  font-family: Roboto, sans-serif;
font-size: 14px;
font-weight: 700;
line-height: 12px;
letter-spacing: 0em;
text-align: left;
color: #8A8787;
;
}

h3{

margin-top: 17px;
font-family: Roboto, sans-serif;
font-size: 14px;
font-weight: 700;
line-height: 12px;
letter-spacing: 0em;
text-align: left;
color: #8A8787;
}

.title2{
margin-top:70px;


}

.image1{
display:  inline-block;
margin-top: 22px;
position: relative;
width: 758px;
height: 430px;

}


.image2{
display: inline-block;
margin-top: 42px;
width: 758px;
height: 430px;

}


.container2{
width: 1300px;
margin: 0 auto;
margin-right: 100px;
height: 906px;
margin-top: 30px;
}


.left-side{

display: inline-block;
width: 758px;
vertical-align: top;
margin-right: 45px;
}

.right-side{
display: inline-block;
width: 362px;
vertical-align: top;
}

.left-side img{
margin-bottom: 42px;



}

.right-side img{
margin-bottom:98px ;


}

.image00{
position: relative;


}

.image00::before{
position: absolute;
content: "Morbi eleifend a libero";
color:#FFFFFF ;
font-family: Roboto, sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
padding-top: 203px;
padding-left: 240px;
}

.logo2{
padding-top: 11px;
display: inline-block;

}

h6{
padding-left: 11px;
padding-top: 14px;
display: inline-block;
}




.box4{
width: 1870px;
height: 201px;
background-color: #243043;
margin-top: 36px;
margin-left: -90px;
}

}

span{
margin-top: 59px;
margin-left: 137px;


}


